{% extends 'base.html.twig' %}

{% block title %}Medecin index{% endblock %}

{% block body %}
    <h1>Medecin index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdMed</th>
                <th>MdpMed</th>
                <th>EmailMed</th>
                <th>DateNaissanceMed</th>
                <th>AgeMed</th>
                <th>AdresseMed</th>
                <th>GenreMed</th>
                <th>NomMed</th>
                <th>PrenomMed</th>
                <th>NumTelMed</th>
                <th>PhotoMed</th>
                <th>PhotoDip</th>
                <th>NbRecMed</th>
                <th>NbPatient</th>
                <th>IsBlocked</th>
                <th>Speciatilte</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for medecin in medecins %}
            <tr>
                <td>{{ medecin.idMed }}</td>
                <td>{{ medecin.mdpMed }}</td>
                <td>{{ medecin.emailMed }}</td>
                <td>{{ medecin.dateNaissanceMed ? medecin.dateNaissanceMed|date('Y-m-d') : '' }}</td>
                <td>{{ medecin.ageMed }}</td>
                <td>{{ medecin.adresseMed }}</td>
                <td>{{ medecin.genreMed }}</td>
                <td>{{ medecin.nomMed }}</td>
                <td>{{ medecin.prenomMed }}</td>
                <td>{{ medecin.numTelMed }}</td>
                <td>{{ medecin.photoMed }}</td>
                <td>{{ medecin.photoDip }}</td>
                <td>{{ medecin.nbRecMed }}</td>
                <td>{{ medecin.nbPatient }}</td>
                <td>{{ medecin.isBlocked ? 'Yes' : 'No' }}</td>
                <td>{{ medecin.speciatilte }}</td>
                <td>
                    <a href="{{ path('app_medecin_show', {'idMed': medecin.idMed}) }}">show</a>
                    <a href="{{ path('app_medecin_edit', {'idMed': medecin.idMed}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="17">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_medecin_new') }}">Create new</a>
{% endblock %}
