<div class="col-xl-6 col-lg-12"  >
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"></h4>
            </div>
            <div class="card-body">
               {{form_start(form,{'attr':{'class':'form-horizontal'}})}}
                <div class="basic-form">
               <form>
            <div class="row">
        <div class="mb-3 col-md-6">
        <label class="form-label">date Intervention </label>
         {{ form_widget (form.dateInter,{'attr':{'class':'form-control'}}) }}
           {{ form_errors (form.dateInter) }}
        </div>
        <div class="mb-3 col-md-6">
         <label class="form-label">descriptions </label>
         {{ form_widget (form.descriptions,{'attr':{'class':'form-control'}}) }}
          {{ form_errors (form.descriptions) }}
        </div>
         <div class="mb-3 col-md-6">
         <label class="form-label">ID patient </label>
         {{ form_widget (form.idPatien,{'attr':{'class':'form-control'}}) }}
          {{ form_errors (form.idPatien) }}
        </div>
         <div class="mb-3 col-md-6">
         <label class="form-label">ID medecin </label>
         {{ form_widget (form.idMed,{'attr':{'class':'form-control'}}) }}
         {{ form_errors (form.idMed) }}
        </div>
         

    </div>
    <button class="btn">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}
  </form>
                </div>
            </div>

        </div>
    </div>