{% extends 'front.html.twig' %}

{% block title %}Intervention index{% endblock %}

{% block body %}
    <h1>Intervention index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdInterv</th>
                <th>DateInter</th>
                <th>Descriptions</th>
                    <th>id patient</th>
                <th>actions</th>
             
            </tr>
        </thead>
        <tbody>
      
        {% for intervention in interventions %}
            <tr>
                <td>{{ intervention.idInterv }}</td>
                <td>{{intervention.getDateInterstring()}}</td>
                <td>{{ intervention.descriptions }}</td>
                <td>{{ intervention.idPatien.idPatient }}</td>
               
                <td>
                    <a href="{{ path('app_intervention_show', {'idInterv': intervention.idInterv}) }}">show</a>
                    <a href="{{ path('app_intervention_edit', {'idInterv': intervention.idInterv}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_intervention_new') }}">Create new</a>
{% endblock %}
