{% extends 'front.html.twig' %}

{% block title %}Intervention index{% endblock %}

{% block body %}
<div style="margin-left:19%">
    <h1>Intervention List</h1>

    <table class="table"style="width : 80%" >
        <thead>
            <tr>
                <th>IdInterv</th>
                <th>DateInter</th>
                <th>Descriptions</th>
                    <th>id patient</th>
                <th>actions</th>
             
            </tr>
        </thead>
        <tbody>
      
        {% for intervention in interventions %}
            <tr>
                <td>{{ intervention.idInterv }}</td>
                <td>{{intervention.getDateInterstring()}}</td>
                <td>{{ intervention.descriptions }}</td>
                <td>{{ intervention.idPatien.idPatient }}</td>
               
                <td>
                <button type="button" class="btn btn-outline-primary"><a href="{{ path('app_intervention_show', {'idInterv': intervention.idInterv}) }}">show</a></button>
                <button type="button" class="btn btn-outline-primary">     <a href="{{ path('app_intervention_edit', {'idInterv': intervention.idInterv}) }}">edit</a></button>
                    
               
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_intervention_new') }}">Create new</a>
 </div>
{% endblock %}
